<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <meta name="keywords" content="@ViewBag.Tags" />

    <title>@ViewBag.Title | Eray Bakır Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="~/blogLTE/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/blogLTE/css/contact.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />


</head>

<body>

    <!-- Navigation -->
    <partial name="_MainMenuPartial" />

    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row">

            @RenderBody()

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/blogLTE/vendor/jquery/jquery.min.js"></script>
    <script src="~/blogLTE/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", false)

    @*Action içerisinde oluşturulan NToastr mesajlarını gösteriyoruz*@
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>
